<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.qa.opencart.listeners.ExtentReportListener"></listener>
        <listener class-name="com.qa.opencart.listeners.TestAllureListener"></listener>
    </listeners>

    <test verbose="2" preserve-order="true" name="OpenCartTest">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.qa.opencart.testcases.HomePageTest">
                <methods>
                    <include name="TC01_verifyOpenCartPageTitleTest"/>
                    <include name="TC02_verifyOpenCartLogoTest"/>
                    <include name="TC03_verifyOpenCartFeaturedSectionCardsCountTest"/>
                    <include name="TC04_verifynavigateToRegistrationPageTest"/>
                    <include name="TC05_verifyNavigateToLoginPageTest"/>
                </methods>
            </class>
            <class name="com.qa.opencart.testcases.LoginPageTest"></class>
            <class name="com.qa.opencart.testcases.MyAccountPageTest"></class>
            <class name="com.qa.opencart.testcases.ProductDetailsPageTest"></class>
            <class name="com.qa.opencart.testcases.RegistrationPageTest"></class>
        </classes>
    </test>
</suite>